.cart-item {
  width: 100%;
  height: 60px;
  background-color: greenyellow;
  display: flex;
  align-items: center;
  position: relative;
  .item-name {
    font-size: 22px;
    font-weight: 400;
    margin-left: 10px;
  }
  .clear-mark {
    font-size: 12px;
  }
  .add-remove {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 40px;
  }
  .item-price {
    position: absolute;
    right: 5px;
  }
  .item-image {
    height: 100%;
    width: 60px;
    border-radius: 5px;
  }
}
