.restaurant-list-item{
    height: 3em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 3em;
    width: 100%;
    background-color: aliceblue;

    cursor: pointer;
    &:hover{
        background-color: red;
    }
    font-size:large;
    
}