.member-page {
  width: 100%;
  background: #2bc0e4;
  background: -webkit-linear-gradient(to top, #eaecc6, #2bc0e4);
  background: linear-gradient(to top, #eaecc6, #2bc0e4);
  padding: 20px;
  height: 300px;
  .members {
    font-size: 22px;
    font-weight: 400;
    padding: 5px 10px 5px 10px;
    background: #2bc0e4;
    background: -webkit-linear-gradient(to top, #eaecc6, #2bc0e4);
    background: linear-gradient(to top, #eaecc6, #2bc0e4);
  }
}
