.manage-restaurant-page{
    width: 100%;
    background-color: red;
    min-height: 400px;
    min-height: 300px;
  
 
    .restaurant-application-button{
        background-color: green;
        padding: 20px;
        width: 100px;
        cursor: pointer;
    }
}